<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Dechode | Code the Fun</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/~/images/logoim.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/logoim.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/logoim.svg">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logoim.svg">
    <link rel="manifest" href="~/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/assets/img/favicons/mstile-150x150.png">



    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="~/assets/css/theme.css" rel="stylesheet" />

</head>
<style>
   

        .navbar.scrolled {
           /*  background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
        backdrop-filter: blur(4px);
        }

    body {
        font-family: 'Poppins', sans-serif;
    }
</style>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" height="34" alt="logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
                <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
                            <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" asp-controller="Home" asp-action="AboutUs">About us</a></li>
                            <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" asp-controller="Home" asp-action="Courses">Courses</a></li>
                            <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                            <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" asp-controller="Home" asp-action="Activities">Activities</a></li>
                        <li class="nav-item dropdown px-3 px-lg-0">
                            <a class="d-inline-block ps-0 py-2 pe-3 text-decoration-none dropdown-toggle fw-medium" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">EN</a>
                            <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg" style="border-radius:0.3rem;" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">EN</a></li>
                                <li><a class="dropdown-item" href="#!">AZE</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="aboutUs">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script>
        // Scroll event to add blur effect to the navbar
        window.addEventListener('scroll', function () {
            const navbar = document.querySelector('.navbar');
            if (window.scrollY > 30) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
    </script>


    <script src="~/vendors/popperjs/popper.min.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="~/vendors/fontawesome/all.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
   

</body>
</html>
