
@{
    Layout = "_Layout";
}
<style>
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }

    .contactUsPage {
        margin-top: 70px;
    }

    .contactUsHeader, .contactUs {
        background-color: #F5F7FA !important;
    }

    .contact-header {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .contact-details {
        margin-bottom: 30px;
    }

        .contact-details h5 {
            font-weight: bold;
            color: #F1A501;
        }

        .contact-details p {
            margin: 0;
        }

    .contact-form {
        background: white;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-control {
        border-radius: 5px;
    }

    .btn-orange {
        background-color: #F1A501;
        color: white;
        border: none;
    }

        .btn-orange:hover {
            background-color: #F1A501;
        }

    .contactUsHeader{
        padding:0px 40px 40px 40px;
        background-color: #F5F7FA !important;
    }

    .contact-form input, .form-control textarea{
        padding: 10px 5px;
        border-radius: 0px;
        font-size: 14px;
    }
    .contact-form button{
        padding: 10px 20px;
    }

    .copy-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #F1A501;
        color: #fff;
        padding: 10px 30px;
        border: none;
        border-radius: 0px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }

        .copy-button:hover {
            background-color: #ffcd61;
        }

        .copy-button img {
            margin-right: 15px;
            width: 25px;
            height: 25px;
        }

    .imageSide img{
        width: 95%;
    }

    .textSide {
        padding: 8% 30px;
    }

    .toast {
        visibility: hidden;
        min-width: 250px;
        background-color: #f7be43;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 15px;
        position: fixed;
        z-index: 1;
        right: 20px;
        bottom: 20px;
        font-size: 16px;
        opacity: 0;
        transition: opacity 0.5s, visibility 0.5s;
    }

        .toast.show {
            visibility: visible;
            opacity: 1;
        }

    .contact-details h5{
        padding-top: 25px;
        font-size: 16px;
        font-weight: 300;
    }

    .contactUsHeader .section-title {
        font-size: 20px;
    }
</style>
<div class="contactUsPage">
    <section class="contactUsHeader py-5  text-center">
        <div class="container">
            <h1 class="section-title">Contact</h1>
        </div>

    </section>
    <section class=" py-5 ">
        <div class="container innertext">
            <div class="row">
                <div class="col textSide">
                    <h1>Bizimlə əlaqə saxlayın</h1>
                    <p>
                        Bizimlə əlaqə saxlayaraq Dechode Kursu haqqında ətraflı məlumat ala və suallarınızı
                        birbaşa bizə ünvanlaya bilərsiniz. Komandamız sizə qısa zamanda cavab verməyə
                        hazırdır. Gələcəyinizi bizimlə qurmaq üçün indi əlaqə saxlayın!
                    </p>
                    <button class="copy-button" onclick="copyEmail()">

                        <img src="~/images/envelope.png" alt="Email Icon" />
                        Maili kopyala
                    </button>
                </div>
                <div class="col imageSide">
                    <img src="~/images/Fit.png" />
                </div>
            </div>

        </div>

    </section>


    <div id="toast" class="toast">Email copied to clipboard!</div>

    <section class="contactUs">
       <div class="container">
            <div class="text-center py-5">
                <h1>Contact Us</h1>
            </div>
            <div class="row">
                <!-- Contact Information -->
                <div class="col-md-6 py-2">
                    <div class="contact-header"><p>Will you be in Los Angeles or any other branches any time soon? Stop by the office! We'd love to meet.</p></div>
                    <div class="contact-details">
                        <div class="row">
                            <div class="col">
                                <h5>ADDRESS</h5>
                            </div>
                            <div class="col">
                                <p>1702 Olympic Boulevard</p>
                                <p>Santa Monica, CA 90404</p>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="contact-details">

                        <div class="row">
                            <div class="col">
                                <h5>PHONE NUMBER</h5>
                            </div>
                            <div class="col">
                                <p>(480) 555-0103</p>
                                <p>(219) 555-0114</p>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="contact-details">

                        <div class="row">
                            <div class="col">
                                <h5>EMAIL ADDRESS</h5>
                            </div>
                            <div class="col">
                                <p>help.eduguard@gmail.com</p>
                                <p>career.eduguard@gmail.com</p>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                <!-- Contact Form -->
                <div class="col-md-6">
                    <div class="contact-form">
                        <h4 class="mb-4">Get In Touch</h4>
                        <p>Feel free contact with us, we love to make new partners & friends</p>
                        <form>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Message Subject">
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-orange">Send Message ➤</button>
                        </form>
                    </div>
                </div>
            </div>
       </div>
       
    </section>
   
</div>


<script>
    function copyEmail() {
        const email = "example@example.com"; // Burada emailinizi yazın
        navigator.clipboard.writeText(email).then(() => {
            showToast("Mail kopyalandı!");
        }).catch(err => {
            console.error("Error copying email: ", err);
        });
    }

    function showToast(message) {
        const toast = document.getElementById("toast");
        toast.textContent = message;
        toast.classList.add("show");
        setTimeout(() => {
            toast.classList.remove("show");
        }, 3000); // Bildiriş 3 saniyə göstərilir
    }
</script>