@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <section class="pt-5 pt-md-9" id="service">
        <div class="container">
            <div class="mb-7 text-center">
                <h5 class="text-secondary">Kateqoriya</h5>
                <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Ən yaxşısını biz təklif edirik!</h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-6">
                    <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                        <div class="card-body p-xxl-5 p-4">
                            <img src="assets/img/category/icon1.png" width="75" alt="Service" />
                            <h4 class="mb-3">Peşəkar Təlimlər</h4>
                            <p class="mb-0 fw-medium">Təcrübəli mentorlarımızdan dərs alaraq real biliklərə sahib olun.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-6">
                    <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                        <div class="card-body p-xxl-5 p-4">
                            <img src="assets/img/category/icon2.png" width="75" alt="Service" />
                            <h4 class="mb-3">Praktiki Layihələr</h4>
                            <p class="mb-0 fw-medium">Qazandığınız bilikləri praktiki layihələr üzərində tətbiq edin.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-6">
                    <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                        <div class="card-body p-xxl-5 p-4">
                            <img src="assets/img/category/icon3.png" width="75" alt="Service" />
                            <h4 class="mb-3">Fərdi Yanaşma</h4>
                            <p class="mb-0 fw-medium">Hər tələbənin ehtiyacına uyğun tədris planı təklif edirik.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-6">
                    <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                        <div class="card-body p-xxl-5 p-4">
                            <img src="assets/img/category/icon4.png" width="75" alt="Service" />
                            <h4 class="mb-3">Sertifikat və Dəstək</h4>
                            <p class="mb-0 fw-medium">Kurs sonunda rəsmi sertifikat və peşəkar karyera dəstəyi əldə edin.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 text-center">
                <p class="fw-medium">
                    Dechode Kursu İT sahəsində peşəkar olmaq istəyənlər üçün ən yaxşı təhsil imkanlarını təqdim edir. Təcrübəli mentorlarla tədris, real layihələrdə təcrübə, fərdi yanaşma və sertifikat imkanları ilə uğura çatın.
                </p>
            </div>
        </div>
    </section>


